* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 14px;
    color: #8493FF;
}

html {
    background-color: #f8f8f8;
}

.containers {
    position: relative;
    margin: 95px auto;
    width: 1120px;
    height: 720px;
}

.container {
    transition: left 0.5s ease;
    position: absolute;
    z-index: 1;
    left: 285px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 10px;
    padding-left: 60px;
    width: 550px;
    height: 720px;
    background-color: white;
    overflow: hidden;
}

.btn {
    transition: all 0.2s ease;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #ffffff00;
    font-weight: 600;
    cursor: pointer;
}

.btn:active, .btn:hover {
    text-shadow: 0px 0px 8px #ff8d46;
}

.date-btn {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.main-container {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.invisible {
    display: none !important;
}

.text-input {
    outline: none;
    margin-top: 10px;
    border: 1px solid #d2d7ff;
    border-radius: 4px;
    padding: 5px 10px;
}

.text-input:focus {
    outline: 2px solid #b4bcff;
}

.w-f {
    width: 100%;
}